@charset "UTF-8";

/* 共通部分--------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 37px;
    color: #7D7F86;
    background: #FAFAFA;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
}
/* コンテンツ全体に対する指定 */
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}
/* Header--------------------------*/
/* ロゴとメニューの横並び */
.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
/* ロゴ */
.logo {
    width: 100px;
    vertical-align: middle;
}
/* メニューの横並び */
.menu_nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 3% 0;
}
.menu_nav li {
    margin-left: 61px;
}
/* ホバー時に下線を引く */
.menu_nav li a:hover {
    text-decoration: underline;
}
/*Main Visual--------------------------*/
.main_content {
    padding-top: 100px;
    height: 100vh;
}
/* アンカーボタン */
.button {
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}
/* 背景付きflex */
.big_bg {
    background-image: url(../images/背景3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 100px 30px;
}
/* News--------------------------*/
.news_grid{
    padding-left: 2%;
}
.page_title{
    font-size: 2.5rem;
}
.news_header {
    display: flex;
    margin-right: 20px;
}
.day {
    margin-right: 20px;
}
/* Itemsグリッド */
.items_content{
    padding: 5% 4%;
}
.items_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.item{
    padding: 4% 10%;
}
/* About--------------------------*/
.about_grid{
    display: flex;
    color: #000000;
    padding-top: 4%;
}
.about_grid img{
    width: 40%;
}
.about{
    padding-left: 2%;
    padding-right: 2%;
}
/* Footer--------------------------*/
.footer_flex .logo {
    width: 180px;
}
.page_footer {
    width: 100%;
    background: #F2F2F0;
    padding-bottom: 5%;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 3% auto;
}
.footer_menu_nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-content: stretch;
    padding: 0;
}
.footer_connect{
    display: flex;
}
.connect_icon{
    padding-left: 20px;
    font-size: 1.5rem;
    align-items: center;
}
