@charset "UTF-8";

/* 共通部分--------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 37px;
    color: #7D7F86;
    background: #FAFAFA;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
}
/* ホバー時に下線を引く */
a:hover {
    text-decoration: underline;
}
/* コンテンツ全体に対する指定 */
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}
/* Header--------------------------*/
/* ロゴとメニューの横並び */
.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
/* ロゴ */
.logo {
    width: 100px;
    vertical-align: middle;
}
/* メニューの横並び */
.menu_nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 3% 0;
}
.menu_nav li {
    margin-left: 61px;
}

/*Main Visual--------------------------*/
.main_content {
    padding-top: 100px;
    height: 100vh;
}
/* アンカーボタン */
.button {
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}
/* 背景付きflex */
.big_bg {
    background-image: url(../images/背景3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 100px 30px;
}
/* News--------------------------*/
.news_grid{
    padding-left: 2%;
}
.page_title{
    font-size: 2.5rem;
    padding-bottom: 30px;
}
.news_header {
    display: flex;
    margin-right: 20px;
}
.day {
    margin-right: 20px;
}
/* Itemsグリッド */
.items_content{
    padding: 5% 4%;
}
.items_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.item{
    padding: 4% 10%;
}
/* About--------------------------*/
.about_grid{
    display: flex;
    color: #000000;
}
.about_grid img{
    width: 40%;
}
.about{
    padding-left: 2%;
    padding-right: 2%;
}
/* Footer--------------------------*/
.footer_flex .logo {
    width: 180px;
}
.page_footer {
    width: 100%;
    background: #F2F2F0;
    padding-bottom: 5%;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 3% auto;
}
.footer_menu_nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-content: stretch;
    padding: 0;
}
.footer_connect{
    display: flex;
}
.connect_icon{
    padding-left: 20px;
    font-size: 1.5rem;
    align-items: center;
}
/* News.php--------------------------*/
.news_container{
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.news_photo{
    width: 350px;
    height: 235px;
}
.news_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news_php_content{
    text-align: center;
    font-size: 250%;
    color: #000;
    letter-spacing: 0.05em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.news_php_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.news_php{
    padding: 8% 5%;
    font-size: 14px;
}
/* items.php--------------------------*/
.items_photo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    width: 100%;
}
.pagination {
    display: flex;
    width: 200px;
    margin: auto;
}
.pagination li {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center
}
.pagination li a {
    display: block;
}
/* product_detail.php--------------------------*/
.product_content{
    display: flex;
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.product_img{
    width: 100%;
    min-width: 400px;
}
.product_detail{
    margin-left: 30px;
}
.product_name{
    margin-bottom: 10px;
    color: #000;
}
.product_price{
    color: #1878b9;
    margin-bottom: 20px;
}
.submit_btn{
    background: #1878B9;
    font-size: 25px;
    border: 0px;
    max-height: 50px;
    color: #ffffff;
    width:230px;
    height:42px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.submit_btn:hover{
    color: #000000;
}
