@charset "UTF-8";

/* 共通部分--------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 37px;
    color: #7D7F86;
    background: #FAFAFA;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
}
/* ホバー時に下線を引く */
a:hover {
    text-decoration: underline;
}
/* コンテンツ全体に対する指定 */
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}
.errors {
    margin: 10px 0;
}
.errors li {
    margin-top: 5px;
    color: #EC008C;
    text-align: center;
    list-style: none;
}
/* Header--------------------------*/
/* ロゴとメニューの横並び */
.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
/* ロゴ */
.logo {
    width: 100px;
    vertical-align: middle;
}
/* メニューの横並び */
.menu_nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 3% 0;
}
.menu_nav li {
    margin-left: 61px;
}
.left_content{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.left_content p{
    margin: auto 20px;
    color: #000;
}
.header_logout_button{
    margin-right: 20px;
}

/*Main Visual--------------------------*/
.main_content {
    padding-top: 100px;
    height: 100vh;
}
/* アンカーボタン */
.button {
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}
/* 背景付きflex */
.big_bg {
    background-image: url(../images/背景3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 100px 30px;
}
/* News--------------------------*/
.news_grid{
    padding-left: 2%;
}
.page_title{
    font-size: 2.5rem;
    padding-bottom: 30px;
}
.news_header {
    display: flex;
    margin-right: 20px;
}
.day {
    margin-right: 20px;
}
/* Itemsグリッド */
.items_content{
    padding: 5% 4%;
}
.items_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.item{
    padding: 4% 10%;
}
/* About--------------------------*/
.about_grid{
    display: flex;
    color: #000000;
}
.about_grid img{
    width: 40%;
}
.about{
    padding-left: 2%;
    padding-right: 2%;
}
/* Footer--------------------------*/
.footer_flex .logo {
    width: 180px;
}
.page_footer {
    width: 100%;
    background: #F2F2F0;
    padding-bottom: 5%;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 3% auto;
}
.footer_menu_nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-content: stretch;
    padding: 0;
}
.footer_connect{
    display: flex;
}
.connect_icon{
    padding-left: 20px;
    font-size: 1.5rem;
    align-items: center;
}
/* News.php--------------------------*/
.news_container{
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.news_photo{
    width: 350px;
    height: 235px;
}
.news_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.news_php_content{
    text-align: center;
    font-size: 250%;
    color: #000;
    letter-spacing: 0.05em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.news_php_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.news_php{
    padding: 8% 5%;
    font-size: 14px;
}
/* items.php--------------------------*/
.items_photo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    width: 100%;
}
.pagination {
    display: flex;
    width: 200px;
    margin: auto;
}
.pagination li {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center
}
.pagination li a {
    display: block;
}
/* product_detail.php--------------------------*/
.product_content{
    display: flex;
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.product_img{
    width: 100%;
    min-width: 400px;
}
.product_detail{
    margin-left: 30px;
}
.product_name{
    margin-bottom: 10px;
    color: #000;
}
.product_price{
    color: #1878b9;
    margin-bottom: 20px;
}
.submit_btn{
    background: #1878B9;
    font-size: 25px;
    border: 0px;
    max-height: 50px;
    color: #ffffff;
    width:230px;
    height:42px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.submit_btn:hover{
    color: #000000;
}
/* product_cart.php--------------------------*/
.product_carts{
    padding-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    color: #000000;
}
.left{
    font-size: 50px;
    letter-spacing: 0.05em;
    float: left;
    width: 25%;
    height: 100%;
    text-align: right;
    padding: 60px 0 0;
}
.right{
    margin-left: 25%;
    padding: 60px 60px 60px 110px;
    height: 100%;
    background: #f2f2f2;
}
.product_cart_img{
    width: 20%;
}
.product_cart{
    display: flex;
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #121212;
    max-width: 800px;
}
.product_cart_detail{
    width: 80%;
    padding: 0 30px 0 10px;
}
.product_cart_last{
    display: flex;
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #121212;
    max-width: 800px;
}
.product_price{
    position: absolute;
    bottom: 0;
    right: 0;
}
.product_name{
    font-size: 24px;
}
.total_price{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 10px 0 10px;
}
.row_right{
    background-color: #1878B9;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    max-width: 800px;
}
.row_right a{
    color: #ffffff !important;
    display: block;
}

/* purchase.php--------------------------*/
.form {
    margin: 30px;
    color: #333;
    font-size: 1.5rem;
}
.otoiawase{
    width: 100%;
    margin: 20px 0;
    padding: 10px 0 8px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #0b4ebd), color-stop(1.00, #0b1a67));
    background: -webkit-linear-gradient(#0b4ebd, #0b1a67);
    background: -moz-linear-gradient(#0b4ebd, #0b1a67);
    background: -o-linear-gradient(#0b4ebd, #0b1a67);
    background: -ms-linear-gradient(#0b4ebd, #0b1a67);
    background: linear-gradient(#0b4ebd, #0b1a67);
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
}
.required {
    color: #ff0000;
}
.exa {
    padding: 5px;
    color: #a9a9a9;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.form dl {
    position: relative;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
}
.form dl dt {
    position: absolute;
    width: 30%;
    float: left;
    padding: 5px 10px 10px 10px;
}
.form dl dd {
    width: 68%;
    float: right;
}
.form dl dd textarea, .form dl dd .txt {
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;	
}
.form dl dd textarea {
    width: 90% !important;
    height: 100%;
}
.form dd .ina {
    ime-mode: disabled;
}
.chra li {
    margin-left: 10px;
}
.ctSelect {
    background: url(../img/arrow.png) right center no-repeat;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem !important;
}
.customSelectInner {
    width: 100% !important;
}
.clip {
    line-height: 30px;
}
.kakunin {
    width: 320px;
    display: table;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.kakunin li {
    margin: 0 10px;
}
.btn_reset {
    width: 150px;
    padding: 5px 0 7px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #989898), color-stop(1.00, #272727));
    background: -webkit-linear-gradient(#989898, #272727);
    background: -moz-linear-gradient(#989898, #272727);
    background: -o-linear-gradient(#989898, #272727);
    background: -ms-linear-gradient(#989898, #272727);
    background: linear-gradient(#989898, #272727);
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
.btn_reset:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.s;
    transition: 0.5s;
    cursor: pointer;
}
.btn_submit {
    width: 150px;
    padding: 5px 0 7px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #0b4ebd), color-stop(1.00, #0b1a67));
    background: -webkit-linear-gradient(#0b4ebd, #0b1a67);
    background: -moz-linear-gradient(#0b4ebd, #0b1a67);
    background: -o-linear-gradient(#0b4ebd, #0b1a67);
    background: -ms-linear-gradient(#0b4ebd, #0b1a67);
    background: linear-gradient(#0b4ebd, #0b1a67);
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
.btn_submit:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.s;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
h1, .form dl dd textarea, .form dl dd .txt, .btn_reset, .btn_submit {
    font-size: 1.5rem;
}
.form {
    margin: 10px;
    font-size: 1.5rem;
}
h1 {
    padding: 5px 0 3px;
}
.form dl {
    width: 100%;
    border: none;
}
.form dl dt {
    float: none;
    position: static;
    width: 100%;
}
.form dl dd {
    float: none;
    width: 100%;
}
.form dl dd textarea, .form dl dd .txt {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.kakunin {
    width: 300px;
}
.btn_reset {
    width: 130px;
}
.btn_submit {
    width: 130px;
}
}

/* login.php */
.login_content {
    background-color: #F2F2F0;
    border-radius: 10px;
    margin: 275px auto;
    padding: 50px;
}
.login_title {
    text-align: center;
    margin-bottom: 30px;
}
.login_button {
    border-radius: 30px;
    background: #239BED;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem
}
.signup_page_button {
    border-radius: 30px;
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}
.signup_button,
.login_button {
    background: #239BED;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
}
.login_page_button,
.signup_page_button {
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
}
.login_content {
    width: 50%;
}
.login_button {
    width: 100%;
    padding: 10px;
}
.signup_page_button {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}
.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}
input[type="email"],
input[type="text"],
input[type="password"],
input[type="tel"] {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder{
    color: #999999;
}
.button_area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
/* signup.php */
.signup_content {
    background-color: #F2F2F0;
    border-radius: 10px;
    width: 500px;
    margin: 100px auto;
    padding: 50px;
}
.signup_title {
    text-align: center;
    margin-bottom: 30px
}
.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}
.button_area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.signup_button {
    background: #239BED;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
}
.login_page_button {
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
}
